body {
    background-image: url("../images/milkbg.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}

.game-background {
	background-color: white;
	opacity: .9;
	margin-top: 50px;
    border-radius: 15px;
}

.cc-header {
	font-family: 'Ultra', serif;
	color: white;
	-webkit-text-stroke: 2px black;
}

#logo {
	height: 100px;
	margin-top: 30px;
}

.winLossKeeper {
	margin-bottom: 10px;
}